@using ShopAppMVC.Dtos
@model ShopItemDto

<h3>Edit</h3>

@using(Html.BeginForm("Edit", "ShopItem", FormMethod.Post ))
 {

 <div class="form-group">
    @Html.LabelFor(a => a.ShopItem.Name)
    @Html.TextBoxFor(a => a.ShopItem.Name)
</div>

<div class="form-group">
    @Html.LabelFor(a => a.ShopItem.StoreName)
    @Html.TextBoxFor(a => a.ShopItem.StoreName)
</div>

<div class="form-group"> 
    @Html.LabelFor(a => a.ShopItem.Price)
    @Html.TextBoxFor(a => a.ShopItem.Price)
</div>

<div class="form-group">
    @Html.LabelFor(a => a.ShopItem.ExpireDate)
    @Html.TextBoxFor(a => a.ShopItem.ExpireDate)
</div>
<div class="form-group">
    @Html.LabelFor(a => a.ShopItem.UserId)
    @Html.DropDownListFor(a => a.ShopItem.UserId, new SelectList(@Model.Users, "Id", "FullName"), "", new {@class = "form-group"})
   </div>

    <input class ="btn btn-primary" type="submit" value="Submit"/>


 }