@model List<ShopItem>

<h3>Shop items</h3>

<table>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Store name</th>
      <th scope="col">Price</th>
      <th scope="col">Expiry Date</th>
      
    </tr>
  </thead>
  <tbody>
      @foreach (var item in @Model)
        {
        <tr>
          <th scope="row"></th>
          <td>@item.Name</td>
          <td>@item.Price</td>
          <td>@item.StoreName</td>
          <td>@item.ExpiryDate</td>
          <td>@Html.ActionLink("Remove", "Delete", "ShopItem", new { Id = @item.Id})</td>
          <td>@Html.ActionLink("Edit", "Update", "ShopItem", new { Id = @item.Id})</td>
        </tr>
        }
    
    
  </tbody>
</table>