@using ShopAppMVC.Models;
@model List<ShopItem>

<h3>Shop items</h3>
<table>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Store Name</th>
      <th scope="col">Price</th>
      <th scope="col">Actions</th>
      
    </tr>
  </thead>
  <tbody>
      @foreach (var item in @Model)
        {
        <tr>
          <th scope="row"></th>
          <td>@item.Name</td>
          <td>@item.StoreName</td>
          <td>@item.Price</td>
          <td>@Html.ActionLink("Remove", "Delete", "ShopItem", new { Name = @item.Name})</td>
          <td>@Html.ActionLink("Edit", "Update", "ShopItem", new { Name = @item.Name})</td>
        </tr>
        }
    
    
  </tbody>
</table>

@*@using (Html.BeginForm("Add", "ShopItem", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(a => a.ShopItem.Name)
        @Html.TextBoxFor(a => a.ShopItem.Name, "", new {@class = "form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.ShopItem.StoreName)
        @Html.TextBoxFor(a => a.ShopItem.StoreName, "", new {@class = "form-control"})
     </div>

      <div class="form-group">
        @Html.LabelFor(a => a.ShopItem.Price)
        @Html.TextBoxFor(a => a.ShopItem.Price, new {@class = "form-control"})
    </div>

     <div class="form-group">
        @Html.LabelFor(a => a.ShopItem.ExpireDate)
        @Html.TextBoxFor(a => a.ShopItem.ExpireDate, new {@class = "form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.ShopItem.UserId)
        @Html.DropDownListFor(a => a.ShopItem.UserId, new SelectList(@Model.Users, "Id", "FullName"), "", new {@class = "form-control"} )
    </div>
        
    <input class="btn btn-primary" type="submit" value="Submit"/>
}*@